.Dashboard {
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh;
  }
  
  .Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .long {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 60%;
    height: 50px;
    margin-bottom: 30px;
  }
  
  .dashbanner {
    margin-top: 60px;
    height: 100px;
    background-color: #d3d3d3;
    width: 100%;
    display: flex;
    flex-shrink: 0;
  }

  .row {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  .sidebar {
    background-color: #c7c7c773;
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .balance {
    height: 80%;
    background-color: rgb(255, 255, 255);
    width: 380px;
    margin-top: 8px;
    margin-left: 25px;
    font-size: 12px;
    text-align: left;
    padding-left: 30px;
  }

  h2{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: black;
    user-select: none;
    font-weight: 500;
  }

  @media (max-width: 684px) {
    h2 {
      font-size: 2.5em;
    }
  }

  h3{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgb(0, 0, 0);
    user-select: none;
    font-weight: 100;
  }