.Home {
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 40px;
  }
  
  .Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

    .Home .long {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 60%;
    height: 50px;
    margin-bottom: 30px;
    text-indent: 30px;
  }
  
  .banner {
    margin-top: 60px;
    height: 200px;
    background-color: #FBE7FF;
    width: 100%;
  }
  
  .Home h2{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: black;
    user-select: none;
    font-weight: 500;
  }

  @media (max-width: 684px) {
    .banner h2 {
      font-size: 2.5em;
    }
    .banner {
      height: 230px;
    }
    .Home .long {
      width: 80%;
    }
  }

  h3{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgb(0, 0, 0);
    user-select: none;
    font-weight: 100;
  }