.Dashboard {
    text-align: center;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 800px;
  }
  
  .Home-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .long {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 60%;
    height: 50px;
    margin-bottom: 30px;
  }
  
  .dashbanner {
    margin-top: 60px;
    height: 100px;
    background-color: #eeeeee;
    width: 100%;
  }

  .row {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
  }

  .sidebar {
    background-color: #c7c7c7;
    height: 100%;
    width: 15%;
  }
  
  h2{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: black;
    user-select: none;
    font-weight: 500;
  }

  @media (max-width: 684px) {
    h2 {
      font-size: 2.5em;
    }
  }

  h3{
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    color: rgb(0, 0, 0);
    user-select: none;
    font-weight: 100;
  }